{% extends "layout.html" %}

{% block body %}

  {% include 'header.html' %}
  <div class="ui stacked segment">

    <div class="ui teal clearing segment">
      <h3 class="ui left floated header">
        {{ doc_view.title }}
      </h3>
      <h3 class="ui right floated sub header">
        작성자 : {{ doc_view.username }} {{ doc_view.create_time }}</h3>
      <div class="ui clearing divider"></div>
      <div class="ui left aligned header">{{ doc_view.content }}</div>

      <div class="ui buttons">
        <a class="ui red basic button" href="{{ url_for('doc_update', doc_id=doc_view.id) }}">글 수정</a>
        <a class="ui blue basic button" href="{{ url_for('doc_delete', doc_id=doc_view.id) }}">글삭제</a>
        <a class="ui green basic button" href="{{ url_for('doc_index') }}">글 목록</a>
      </div>

      <div class="ui clearing divider"></div>
      <div class="ui form">
        <div class="field">
          <textarea name="content" rows="2" placeholder="Conents...."></textarea>
        </div>
        <a class="ui right floated teal mini button">댓글 쓰기</a>
        {% if doc_view.id > 0 %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
