{% extends "layout.html" %}

{% block body %}

<div class="ui left aligned stacked segment">
  <form class="ui form" action="{{request.path}}" method="post">
    <div class="field">
      <label>아이디</label>
      <input type="text" name="id" value="{{modify_content.id}}" placeholder="{{modify_content.id}}">
    </div>
    <div class="field">
      <label>제목</label>
      <input type="text" name="title" value="{{modify_content.title}}" placeholder="{{modify_content.title}}">
    </div>
    <div class="field">
      <label>내용</label>
      <textarea name="content">{{modify_content.content}}</textarea>
    </div>
    <button class="ui fluid large teal button" type="submit">수정하기</button>
  </form>
</div>

<div class="ui message">
  <div class="two ui buttons">
    <a class="ui red button" href="{{ url_for('add_content')}}">글쓰기</a>
    <a class="ui blue button" href="{{ url_for('board_index')}}">글목록</a>
  </div>
</div>

{% endblock %}
