{% extends "layout.html" %}

{% block body %}

<div class="ui left aligned stacked segment">
  <form class="ui form" action="{{request.path}}" method="post">
    <div class="field">
      <label>아이디</label>
      <input type="text" name="user" value="{{modify_content.user}}" placeholder="{{modify_content.user}}">
    </div>
    <div class="field">
      <label>제목</label>
      <input type="text" name="title" value="{{modify_content.title}}" placeholder="{{modify_content.title}}">
    </div>
    <div class="field">
      <label>내용</label>
      <textarea name="content">{{modify_content.content}}</textarea>
    </div>
    <button class="ui fluid large teal button" type="submit">수정하기</button>
  </form>
</div>

{% endblock %}
