{% extends "layout.html" %}

{% block body %}

  {% include 'board_header.html' %}

  <div class="ui stacked segment">

    <div class="ui teal segment">
      <h3 class="ui left floated header">
        {{ show_content.title }}
      </h3>
      <h3 class="ui right floated sub header">
        작성자 : {{ show_content.username }} {{ show_content.create_time }}</h3>
      <div class="ui clearing divider"></div>
      <div class="ui left aligned header">{{ show_content.content }}</div>

      <div class="ui buttons">
        <a class="ui red basic button" href="{{ url_for('modify_content', content_no=show_content.no) }}">글수정</a>
        <a class="ui blue basic button" href="{{ url_for('del_content', content_no=show_content.no) }}">글삭제</a>
        <a class="ui green basic button" href="{{ url_for('board_index') }}">뒤로가기</a>
      </div>
    </div>
  </div>

{% endblock %}
