{% extends "layout.html" %}

{% block body %}
  <div class="ui stacked segment">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="ui negative message">
          <i class="close icon"></i>
          <div class="header">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <form class="ui form" action="{{ request.path }}" method="post">
      <div class="field">
        <div class="ui fluid left icon input">
          <i class="user icon"></i>
          <input type="text" name="username" placeholder="username">
        </div>
      </div>
      <div class="field">
        <div class="ui fluid left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <button class="ui fluid large teal submit button" href="{{ url_for('signin_index') }}">Login</button>
    </form>
  </div>
  <div class="ui message">
    New to us? <a href="{{ url_for('signup') }}">Sign Up</a>
  </div>
  <style>
    .column {
      max-width: 500px;
    }
  </style>
{% endblock %}
